@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
	margin:0px;
	padding:0px;
	
}
body{
font-family: 'Noto Serif', serif;
/*font-family: 'Baloo Bhai 2', cursive;*/
}
.heading{
padding:1rem 2rem;
color:white;
font-size:30px;
font-weight:bold;
font-family: 'Baloo Bhai 2', cursive;
}
/*navbar{
	position:sticky;
	top:0px;
}*/
#navbar{
	
	background:violet;
	border-radius:7px;
	padding: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#navbar ul{
	display:flex;
	list-style:none;
	/*padding:0px 15px;*/
	margin:0px 30px;
   justify-content: flex-end;
   /*justify-content: center;
   justify-content: space-between;
   justify-content: space-around;
    justify-content: flex-start;*/
}

#navbar ul li a{
	color:white;
    padding:0px 15px;
	
	/*border-radius:20px;*/
	text-decoration:none;
	font-size:1.8rem;
	text-align:center;
	
}


.container img{
max-width:30rem ;       /* img is taken from undraw */      
display:block;
margin:auto;

}

.head{
text-align:center;
font-size:30px;
padding:30px;
}

.color{
color:blue;              
}

.aboutme{
background:#F4F7F1;                      /*color used https://tailwindcss.com/docs/customizing-colors */
padding:15px;
}
#aboutme{
display:block;
max-width:650px;
margin:auto;
padding:5px; 0px;
}

.section{
background:white;
padding:10px;
}

#section{
display:block;
max-width:620px;
margin:auto;
padding:3px; 0px;
}

.title{
text-align:center;
font-size:25px;
}
.para{
/*text-align:center;*/
font-size:15px;
padding:15px;
}

.link{
     color:black;
	padding:5px 10px;
	border:2px solid;
	border-radius:5px;
	text-decoration:none;
	/*box-sizing:border-box;*/
	font-size:1rem;
	/*text-align:center;*/
}
  
ol{
    /*text-align:center;
    list-style-position:inside;*/
    padding:0px 30px;
}
/*some list property*/
/*.ol{
text-align:center;
list-style-position:inside;
font-size:20px;
}*/


 /*.ol{
  margin: -23px ;
  text-align: center;
  list-style-position: outside;
}

ol{
   list-style-type: decimal;
}

ol li{
   padding-left: 0px ;
   padding-bottom: 0px ;
}

*/


.project{
background:#F4F7F1;
padding:20px;
}

#project{
display:block;
max-width:600px;
margin:auto;
padding:15px; 0px;
}

.blog{
background:white;
padding:10px;
}

#blog{
display:block;
max-width:620px;
margin:auto;
padding:3px; 0px;
}


#footer{
padding:5px;
margin:15px 0px;
background:violet;
}
.content{
text-align:center;
font-size:20px;
padding:5px;
}

#footer ul{
	display:flex;
	list-style:none;
	padding:5px 20px;
   justify-content: center;
   }

#footer ul li a{
	color:white;
	padding:5px 10px;
	text-decoration:none;
	font-size:1.5rem;
	text-align:center;

}

#footer ul li a i{
transition: all 0.5s ease-in-out;
}

#footer a:hover i{
	font-size:50px;
}

small{
	display:block;
	padding-top:10px ;
	margin:0px 20px;

	
}